Package: com.xyaman.libkuro
Name: libKuro
Version: 0.0.1
Architecture: iphoneos-arm
Description: Very simple image library.
Maintainer: Diego Barría
Author: Diego Barría
Section: System
Tag: role::developer
