Package: com.xyaman.libkuro
Name: libKuro
Architecture: iphoneos-arm
Description: Very simple image library to get primary color.
Maintainer: Diego Barría
Author: Diego Barría
Section: System
Tag: role::developer
Version: 0.0.1-3+debug
Installed-Size: 172
